<!doctype html>
<html>
    <head>
        <title>Friends Details</title>
        <meta name= "viewport" content= "width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='style.css') }}" type = 'text/css' rel='stylesheet'>
    </head>

    <body>
        <h1>Friends details</h1>
        <h3>Friends list: </h3><br>
        <div class="friend-list">
            <ul>
                <li>
                    <a href=""></a>
                    <div class="friend-username">Username: </div>
                    <button type="button" class="btn">Remove</button>
                    <button type="button" class="btn">Edit permission</button>

                </li>
            </ul>
        </div>
        <hr><br>
        <h3>Friend requests:</h3><br>
        <div class="friend-requests">
            <ul>
                <li>
                    <a href=""></a>
                    <div class="friend-username">Username: </div>
                    <button type="button" class="btn">Add</button>
                </li>
            </ul>
        </div>
    
    <br><br>
    <a href="./Settings.html"><button type="button" class="btn">Back</button></a> <br>
    </body>
</html>