<!doctype html>
<html>
    <head>
        <meta name= "viewport" content= "width=device-width, initial-scale=1.0">
        <title>Recipe Generator</title>
        <link href="{{ url_for('static', filename='style.css') }}" type = 'text/css' rel='stylesheet'>
        <div class="add-fav-img">
            <button type="button" class="btn2"><img src="./heart.png"/></button>
        </div>
    </head>

    <body>
        <h1>Recipe Generator</h1>
        <h2>Ingredients: </h2>
        <ul>
            <li></li>
        </ul>
        <br>
        <h2>Recipe: </h2>
        
        
        <br>
        <a href="./ServingSize.html"><button type="button" class="btn">Back</button></a> <br>
    </body>
</html>