<!doctype html>
<html>
    <head>
        <meta name= "viewport" content= "width=device-width, initial-scale=1.0">
        <title>Recipes</title>
        <link href="{{ url_for('static', filename='style.css') }}" type = 'text/css' rel='stylesheet'>
    </head>

    <body>
        <div class="recipe-menu">
            <div class="recipe-button">
                <a href="./ChooseIngredients.html"> <button type="button" class="btn"><img src="{{ url_for('static', filename='pan.png') }}"/></button></a>
                <h2>Recipe Generator</h2>
            </div>
            
            <div class="fav-button">
                <a href="./Favourites.html"><button type="button" class="btn"><img src="{{ url_for('static', filename='heart.png') }}"/></button></a>
                <h2>Favourites</h2>
            </div>
        </div>
        <br>
        <button type="button" onclick="history.back()" class="btn">Back</button> <br>
    </body>
</html>